<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top images</title>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div>
    <a href="{% url 'image_new' %}" class="top-menu"><span
            class="glyphicon glyphicon-plus"></span></a>
    <h1><a href="/">Top images</a></h1>
</div>
{% for image in images %}
    <div>
        <h1>
            <a href="{% url 'image_detail' image_token=image.token %}">{{ image.title }}</a>
        </h1>
        <p>owner: {{ image.owner }}</p>
        <img src="{{ image.image.url }}" width="200px" height="200px">
    </div>
{% endfor %}
</body>
</html>