{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ image.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png"
          href="{% static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->


</head>
<body>
<div>
    {% if messages %}
        <b>
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %}
                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </b>
    {% endif %}

    <div>
        <a href="/my_profile">My page</a>
    </div>

    <h1>{{ image.title }}</h1>
    <h2>Token: {{ image.token }}</h2>
    <p><b>Owner:</b> <a
            href="/profile/{{ image.owner.id }}">{{ image.owner }}</a></p>

    <p><b>Published date:</b> {{ image.date_last_own }}</p>
    <div>
        <img src="{{ image.image.url }}" width="200px" height="200px">
        {% if user_info.moderator %}
            <form method="POST" action="/image/{{ image.token }}/ban_image">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Ban!</button>
            </form>
        {% endif %}
    </div>
    <p><a href="{% url 'complaint' image_token=image.token %}">Complain</a></p>
    <p>
        <i onClick="document.getElementById('likebutton').submit()"
           class="fa fa-thumbs-up"
           style="font-size: 60px;cursor: pointer;user-select: none;"></i> {{ image.likes }}

    <form id="likebutton" method="POST"
          action="/image/{{ image.token }}/likes/">
        {% csrf_token %}
        <input type="hidden">
    </form>
    </p>
    <p><a href="/board">Back to board</a></p>

    <p><a class="btn-primary"
          href="{% url 'add_comment' image_token=image.token %}">
    <h1>Discuss</h1></a></p>

    <p>
        <b> Users who liked this image: </b>
        {% for like in likes %}
            <div>
                <p> {{ like.user }} </p>
            </div>
        {% endfor %}
    </p>
    <p>
        <b> History of owning this image: </b>
        {% for history_log in history %}
            <div>
                <p> {{ history_log }} </p>
            </div>
        {% endfor %}
    </p>
    <p>
        <b> Comments: </b>
        {% for comment in comments %}
            <div>
                <p>{{ comment.owner }} {{ comment.date }}<a
                        href="{% url 'complaint_comment' image_token=image.token id=comment.id %}">Complain</a>
                </p>
                <p> {{ comment.body|safe }} </p>
            </div>
        {% endfor %}
    </p>
</div>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
