<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ image.title }}</title>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div>
    <h1>{{ image.title }}</h1>
    <h2>Token: {{ image.token }}</h2>>
    <p>Owner: {{ image.owner }}</p>
    <p>Published date: {{ image.published_date }}</p>
    <img src="{{ image.image.url }}" width="200px" height="200px">
    <p>Likes: {{ image.likes }}</p>
</div>
</body>
</html>