{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
        <p>Name: {{user_info.name}}  
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.name}} 
            <button type="submit">Change</button>
        </form></p>
        <p>Second Name: {{user_info.second_name}}
            <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.second_name}} 
                <button type="submit">Change</button>
            </form>
        </p>
        <p>{{ user_info.avatar }}
            <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.avatar}} 
                <button type="submit">Change</button>
            </form>
        </p>
        <p>About me: {{user_info.info}}
            <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.info}} 
            <button type="submit">Change</button>
        </form></p>
        <div>
            <a href="/board">Top Images</a>
        </div>
        {% for pic in pics %}
            <div>
            <a href="{% url 'image_detail' image_token=pic.token %}">
                <h1>{{ pic.title }}</h1></a>
            <img src="{{ pic.image.url }}" width="200px" height="200px">
            </div>
        {% endfor %}
</body>
</html>